:root {
    --primary-light: #ffffff;
    --primary-dark: #333333;
    --primary-border: #dddddd;
    --primary-code: #eeeeee;
    --primary-code-text: #808080;
    --primary-code-bold: #000000;
    --primary-accent: #ff770f;
    --primary-selected: #ededed;
}

body {
    overflow: hidden;
    background-color: var(--primary-light);
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    position: absolute;
    top: 0;
    height: fit-content;
    width: calc(100%);
    height: 24em;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/highway_anim.svg);
}

.sticky {
    position: sticky;
    top: 0;
    width: calc(100%);
    height: 24em;
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 100% 9em, 0 9em);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/highway_anim.svg);
}

header,
.sticky {
    background-color: #84a819;
}

#titleDiv {
    position: fixed;
    top: 0.5em;
    left: 48px;
    margin: 0;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 0 0 32px #00000032;
    z-index: 4;
    display: flex;
    width: calc(100% - 1.5em);
    align-items: center;
}

#titleDiv span {
    width: 100%;
}

button {
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    height: fit-content;
    padding: 12px 32px;
    background-color: var(--primary-light);
    color: var(--primary-accent);
    margin-right: 16px;
    margin-top: 0;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 0 0 var(--primary-accent);
    transition: transform 300ms ease-in-out 0s, box-shadow 300ms ease-in-out 0s
}

button:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 0 0 var(--primary-accent);
}

a {
    color: var(--primary-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contentDiv {
    width: calc(100% - 128px);
    max-width: 1000px;
    margin: auto;
    padding: 0 64px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: var(--primary-dark);
}

.contentDiv iframe {
    border-radius: 8px;
    margin: 0;
    margin-bottom: 2.5em;
}

h2 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3em;
    line-height: 100%;
    color: var(--primary-accent);
}

pre {
    background-color: var(--primary-code);
    padding: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 8px;
    border: 1px solid var(--primary-border);
    color: var(--primary-code-text);
}

pre b {
    color: var(--primary-code-bold);
}

.exampleDiv {
    position: relative;
    padding-bottom: 64px;
}

.flexDiv {
    display: flex;
    gap: 40px;
    margin-bottom: 200px;
    margin-top: 120px;
}

.flexDiv .innerDiv {
    width: 50%;
}

.flexDiv .innerDiv span {
    font-size: 2em;
}

.elemDivA,
.elemDivB {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: 24px;
    margin-left: 0;
    background-color: var(--primary-accent);
    animation: elemAnim 2000ms infinite;
}

.tabsContents {
    display: flex;
}

.tabsDiv {
    position: sticky;
    top: 9em;
    padding-bottom: 3px;
    padding-top: 2em;
    z-index: 9;
    max-width: 100%;
    background-color: var(--primary-light);
    border-bottom: 1px solid var(--primary-border);
}

.tabs {
    display: flex;
    max-width: 1000px;
    margin: auto;
    color: var(--primary-dark);
    font-size: 1.2em;
    font-family: "Inter", sans-serif;
}

.tab-item {
    position: relative;
    padding: 12px 20px;
    cursor: pointer;
    user-select: none;
}

.tab-item::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--primary-accent);
    animation: removeSelected 200ms ease-in-out forwards;
}

.tab-item:nth-last-of-type(2)::after {
    left: unset;
    right: 0;
}

.tab-item.selected::after {
    animation-name: addSelected;
}

.tabContent {
    position: absolute;
    width: 100%;
    background-color: var(--primary-light);
    opacity: 0;
    transform: scale(1, 0);
    /* transition: opacity 300ms linear 100ms; */
}

.tabContent.selected {
    opacity: 1;
    transform: scale(1, 1);
}

.buttonFlex {
    display: flex;
}

.spacer {
    flex-grow: 1;
}

.icon-button {
    border: 1px solid lightgray;
    box-shadow: none;
    color: #333333;
    font-size: 2em;
    padding: 15px 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">  <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" /></svg>');
}

@keyframes removeSelected {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes addSelected {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.tab-item:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 0.5em);
    left: 0;
    top: 0.25em;
    background-color: var(--primary-selected);
    border-radius: 8px;
    z-index: -1;
}

.tab-item:active::before {
    background-color: var(--primary-border);
}

@keyframes elemAnim {
    0% {
        margin-left: 0;
    }

    10% {
        margin-left: 0;
    }

    40% {
        margin-left: calc(50% - 68px);
    }

    60% {
        margin-left: calc(50% - 68px);
    }

    90% {
        margin-left: 0;
    }

    100% {
        margin-left: 0;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-light: #000000;
        --primary-dark: #dddddd;
        --primary-border: #333333;
        --primary-code: #222222;
        --primary-code-text: #aaaaaa;
        --primary-code-bold: #ffffff;
        --primary-accent: #ca6415;
        --primary-accent: #ff770f;
        --primary-selected: #202020;
    }

    header,
    .sticky {
        filter: brightness(50%) hue-rotate(-20deg);
    }

    button {
        background-color: var(--primary-accent);
        color: var(--primary-dark);
        box-shadow: 2px 2px 0 0 var(--primary-dark);
    }

    .invert {
        filter: invert(100%) brightness(150%);
    }
    .icon-button {
        border: 1px solid lightgray;
        background-color: transparent;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="lightgray" class="size-6">  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" /></svg>');
    }
}

@media screen and (max-width: 800px) {
    pre {
        white-space: pre-wrap;
        word-break: break-word;
    }

    img {
        max-width: calc(100vw - 48px);
    }

    .contentDiv {
        width: calc(100% - 48px);
        padding: 0 24px;
    }

    .flexDiv .innerDiv span {
        font-size: 1em;
    }

    .exampleDiv {
        margin-bottom: 0;
    }

    .flexDiv {
        margin-bottom: 120px;
    }

    #titleDiv {
        font-size: 14vw;
    }

    button {
        font-size: 16px;
    }

    h2 {
        font-size: 2em;
    }

    #wrapper {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .tabs {
        margin-top: 5vh;
        /* test this */
        font-size: 1em;
    }

    .tabsDiv {
        top: 8.5em;
        padding-bottom: 3px;
    }

    #titleDiv {
        flex-direction: column;
    }

    .sticky {
        height: 8.5em;
    }

    header {
        display: none;
    }
}