#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

object {
    background-color: #84a819;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
}

header {
    position: relative;
}

#titleDiv {
    position: absolute;
    top: .5em;
    left: 48px;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    color: #ffffff;
    text-shadow: 0 0 32px #00000032;
}

button {
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #ffffff;
    color: #ff770f;
    margin-right: 16px;
    margin-top: 0;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 0 0 #ff770f;
    transition: transform 300ms ease-in-out 0s, box-shadow 300ms ease-in-out 0s
}

button:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 0 0 #ff770f;
}

a {
    color: #ff770f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contentDiv {
    width: calc(100% - 128px);
    padding: 0 64px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #333333;
}

.contentDiv iframe {
    border-radius: 8px;
    margin: 48px 0;
}

h2 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3em;
    line-height: 100%;
    color: #ff770f;
}

pre {
    background-color: #eeeeee;
    padding: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 8px;
    border: 1px solid #dddddd;
    color: #808080;
}

pre b {
    color: #000000;
}

.exampleDiv {
    position: relative;
    padding-bottom: 64px;
}

.flexDiv {
    display: flex;
    gap: 40px;
    margin-bottom: 200px;
    margin-top: 120px;
}

.flexDiv .innerDiv {
    width: 50%;
}

.flexDiv .innerDiv span {
    font-size: 2em;
}

.elemDivA,
.elemDivB {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: 24px;
    margin-left: 0;
    background-color: #ff770f;
    animation: elemAnim 2000ms infinite;
}

.tabsContents {
    display: flex;
}

.tabs {
    display: flex;
    color: #333333;
    font-size: 1.3em;
    font-family: "Inter", sans-serif;
}

.tab-item {
    position: relative;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
}

.tab-item::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff770f;
    animation: removeSelected 200ms ease-in-out forwards;
}

.tab-item:nth-last-of-type(2)::after {
    left: unset;
    right: 0;
}

.tab-item.selected::after {
    animation-name: addSelected;
}
.tabContent{
    display: none;
}
.tabContent.selected{
    display: block;
}

@keyframes removeSelected {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes addSelected {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.tab-item:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 0.5em);
    left: 0;
    top: 0.25em;
    background-color: #ededed;
    border-radius: 8px;
    z-index: -1;
}

.tab-item:active::before {
    background-color: #dddddd;
}

@keyframes elemAnim {
    0% {
        margin-left: 0;
    }

    10% {
        margin-left: 0;
    }

    40% {
        margin-left: calc(50% - 68px);
    }

    60% {
        margin-left: calc(50% - 68px);
    }

    90% {
        margin-left: 0;
    }

    100% {
        margin-left: 0;
    }

}

@media screen and (max-width: 800px) {
    pre {
        white-space: pre-wrap;
        word-break: break-word;
    }

    img {
        max-width: calc(100vw - 48px);
    }

    .contentDiv {
        width: calc(100% - 48px);
        padding: 0 24px;
    }

    .flexDiv .innerDiv span {
        font-size: 1em;
    }

    .exampleDiv {
        margin-bottom: 0;
    }

    .flexDiv {
        margin-bottom: 120px;
    }

    header object {
        transform-origin: top center;
        transform: scale(1.5);
    }

    #titleDiv {
        font-size: 14vw;
    }

    button {
        font-size: 16px;
    }

    h2 {
        font-size: 2em;
    }

    #wrapper {
        overflow-x: hidden;
        overflow-y: auto;
    }
}